$nmc-primary: #ef7a04;

.youtube-section {
    max-width: 900px;
    margin: auto;
}

.card {
    background: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid $nmc-primary;
    margin: 20px 0;
}

.form-label {
    font-weight: bold;
    display: block;
    margin-bottom: 0.5rem;
}

.form-control {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.75rem 1rem;
}

.error-label {
    display: flex;
    align-items: center;
}

.error-label i {
    font-size: 1.5rem;
}

.btn-light-orange {
    background-color: $nmc-primary;
    color: #fff;
    border: none;
}

.btn-light-orange:hover {
    background-color: #fc9313;
}

.btn-light-red {
    background-color: #ff0f0f;
    color: #fff;
    border: none;
}

.btn-light-red:hover {
    background-color: #ee4444;
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-secondary:hover {
    background-color: #5a6268;
    border-color: #545b62;
}

.btn-custom-edit {
    background-color: $nmc-primary;
    color: white;
    border: none;
}

.btn-custom-edit:hover {
    background-color: #fc9313;
}

.btn-small {
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
    border-radius: 0.2rem;
}

.custom-input {
    border: 1px solid #c4c0c0;
}

.required::after {
    content: '*';
    color: red;
    margin-left: 0.25rem;
}

.truncate {
    width: 100%;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
}

.youtube-videos .table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    border-collapse: collapse;
}

.youtube-videos .table th,
.youtube-videos .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.youtube-videos .table-striped tbody tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}

.youtube-videos .table th {
    background-color: #343a40;
    color: #fff;
}

.youtube-videos .table td {
    vertical-align: top;
    overflow: hidden;
    text-overflow: ellipsis;
}

.youtube-videos .table .actions {
    display: flex;
    align-items: center;
    gap: 5px;
}
