<section class="youtube-videos text-center py-5">
    <div class="container-boxed">
      <h2
        class="section-title font-36 nmc-dark-grey font-family-poppins text-center mb-5"
      >
        Quiz Settings
      </h2>
  
      <!-- Button to show the form for adding a quiz -->
      <div class="add-video-container">
        <button class="btn btn-light-orange btn-sm mb-2" (click)="showForm()">
          Add New Quiz
        </button>
      </div>
  
      
      
     
      <!-- Table displaying the list of quiz -->
      @if(!formVisible){
      <div class="mt-3">
        <table class="table table-bordered table-striped">
          <thead class="table-dark">
            <tr>
                <th>Order</th>
                <th>Question</th>
                <th>Options</th>
                <th>Actions</th>
            </tr>
          </thead>
  
          <tbody>
            <tr *ngFor="let quiz of quiz">
                <td>{{ quiz.order }}</td>
                <td>{{ quiz.question }}</td>
                <td>
                    <ul>
                      <li *ngFor="let option of quiz.options">{{ option.value }}</li>
                    </ul>
                </td>
              <td class="actions">
                <button (click)="onEdit(quiz.id)" class="btn btn-warning btn-sm me-2">Edit</button>
                <button (click)="onDelete(quiz.id)" class="btn btn-danger btn-sm">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      }
    </div>
  </section>
  <section #formSection class="pt-4 pb-5 create-quiz-section">
    @if(formVisible){
    <div class="container-boxed">
    
        <h2 class="section-title font-36 nmc-dark-grey font-family-poppins text-center mb-4">
            {{ editMode ? "Edit" : "Add" }} Create Quiz
          </h3>
          <form [formGroup]="quizForm" (ngSubmit)="onSubmit()">
            <div class="form-group mt-3">
              <label for="question" class="form-label required">Question</label>
              <input
                type="text"
                id="question"
                class="form-control h-3 rounded-3"
                formControlName="question"
                placeholder="Enter question"
              />
              <div *ngIf="quizForm.get('question')?.touched && quizForm.get('question')?.invalid" class="error-label text-danger font-18 mt-2">
                Please enter a question
              </div>
            </div>
    
            <div class="form-group mt-3">
              <label for="order" class="form-label required">Order</label>
              <input
                type="number"
                id="order"
                class="form-control h-3 rounded-3"
                formControlName="order"
                placeholder="Enter order"
              />
            </div>
    
            <div formArrayName="options" class="options-container mt-3">
              <div *ngFor="let option of options.controls; let i = index" [formGroupName]="i" class="option-group mb-2">
                <label for="option{{i}}" class="form-label">Option {{i + 1}}</label>
                <input
                  id="option{{i}}"
                  formControlName="value"
                  type="text"
                  class="form-control h-3 rounded-3"
                  placeholder="Enter option"
                />
                <button *ngIf="options.length > 1" type="button" (click)="removeOption(i)" class="btn btn-danger btn-sm mt-2">
                  Remove
                </button>
              </div>
            </div>
            <div *ngIf="options.controls.length < 2" class="error-label text-danger font-18 mt-2">
              Please enter at least two options
            </div>
    
            <button type="button" (click)="addOption()" class="btn btn-light-orange mt-3">
              Add Option
            </button>
    
            <div class="form-group mt-3">
              <label for="answerId" class="form-label required">Correct Answer</label>
              <select
                id="answerId"
                class="form-control h-3 rounded-3"
                formControlName="answerId"
                [ngClass]="{'is-invalid': isOptionsInvalid}"
              >
                <option *ngFor="let option of options.controls" [value]="option.get('id')?.value">
                  {{ option.get('value')?.value }}
                </option>
              </select>
            </div>
            <div *ngIf="!quizForm.get('answerId')?.value && isOptionsInvalid" class="error-label text-danger font-18 mt-2">
              Please choose a correct answer
            </div>
    
            <div class="d-flex justify-content-end align-items-center mt-5">
              <button type="button" (click)="onCancel()" class="btn btn-secondary">Cancel</button>
              <button type="submit" class="btn btn-light-orange ms-2" [disabled]="!quizForm.valid">
                Submit
              </button>
            </div>
          </form>
        </div>
    }
  </section>