<section class="pt-4 pb-5 create-instructor-section">
  <div class="container-boxed">
    <h2 class="section-title font-36 nmc-dark-grey font-family-poppins text-center mb-4">
      Create Instructor
    </h2>

    <div class="form-wrapper rounded-4 p-4 w-100 mx-auto">
      <form [formGroup]="instructorForm" (ngSubmit)="onSubmit()">
        <div class="row form-group mt-3">
          <div class="col-6">
            <label for="name" class="form-label required">Name</label>
            <input
              type="text"
              id="name"
              class="form-control h-3 rounded-3"
              formControlName="Name"
              placeholder="Enter name"
            />
          </div>

          <div class="col-6">
            <label for="position" class="form-label required">Position</label>
            <input
              type="text"
              id="position"
              class="form-control h-3 rounded-3"
              formControlName="Position"
              placeholder="Position"
            />
          </div>

          <div class="col-6">
            <label for="email" class="form-label required">Email</label>
            <input
              type="email"
              id="email"
              class="form-control h-3 rounded-3"
              formControlName="Email"
              placeholder="Email"
            />
          </div>

          <div class="col-6">
            <label for="github" class="form-label required">Github</label>
            <input
              type="url"
              id="github"
              class="form-control h-3 rounded-3"
              formControlName="Github"
              placeholder="Github"
              pattern="https://github.com/.*"
              title="Please enter a valid GitHub URL"
            />
          </div>

          <div class="col-6">
            <label for="twitter" class="form-label required">Twitter</label>
            <input
              type="url"
              id="twitter"
              class="form-control h-3 rounded-3"
              formControlName="Twitter"
              placeholder="Twitter"
              pattern="https://x.com/.*"
              title="Please enter a valid Twitter URL"
            />
          </div>

          <div class="col-6">
            <label for="linkedin" class="form-label required">LinkedIn</label>
            <input
              type="url"
              id="linkedin"
              class="form-control h-3 rounded-3"
              formControlName="LinkedIn"
              placeholder="LinkedIn"
              pattern="https://www.linkedin.com/.*"
              title="Please enter a valid LinkedIn URL"
            />
          </div>

          <div class="col-6 mt-4">
            <label for="Skill1" class="form-label required">Skill 1</label>
            <select id="Skill1" class="form-control h-3 rounded-3" formControlName="Skill1" required>
              <option value="" disabled>Select a skill</option>
              <option value="Angular">Angular</option>
              <option value="React">React</option>
              <option value="Azure">Azure</option>
              <option value="GenAI">GenAI</option>
            </select>
          </div>

          <div class="col-6 mt-4">
            <label for="Skill2" class="form-label required">Skill 2</label>
            <select id="Skill2" class="form-control h-3 rounded-3" formControlName="Skill2" required>
              <option value="" disabled>Select a skill</option>
              <option value="Angular">Angular</option>
              <option value="React">React</option>
              <option value="Azure">Azure</option>
              <option value="GenAI">GenAI</option>
            </select>
          </div>

          <div class="col-6 mt-4">
            <label for="Skill3" class="form-label required">Skill 3</label>
            <select id="Skill3" class="form-control h-3 rounded-3" formControlName="Skill3" required>
              <option value="" disabled>Select a skill</option>
              <option value="Angular">Angular</option>
              <option value="React">React</option>
              <option value="Azure">Azure</option>
              <option value="GenAI">GenAI</option>
            </select>
          </div>

          <div class="col-6 mt-4">
            <label for="Skill4" class="form-label required">Skill 4</label>
            <select id="Skill4" class="form-control h-3 rounded-3" formControlName="Skill4" required>
              <option value="" disabled>Select a skill</option>
              <option value="Angular">Angular</option>
              <option value="React">React</option>
              <option value="Azure">Azure</option>
              <option value="GenAI">GenAI</option>
            </select>
          </div>

           <!-- Companies -->
           <div class="col-6 mt-4">
            <label for="company1" class="form-label required">Company1</label>
            <input
              type="text"
              id="company1"
              class="form-control h-3 rounded-3"
              formControlName="Company1"
              placeholder="Company1"
              required
            />
          </div>

          <div class="col-6 mt-4">
            <label for="company2" class="form-label required">Company2</label>
            <input
              type="text"
              id="company2"
              class="form-control h-3 rounded-3"
              formControlName="Company2"
              placeholder="Company2"
              required
            />
          </div>

          <div class="col-6">
            <label for="company3" class="form-label">Company3</label>
            <input
              type="text"
              id="company3"
              class="form-control h-3 rounded-3"
              formControlName="Company3"
              placeholder="Company3"
            />
          </div>

          <div class="col-6">
            <label for="company4" class="form-label">Company4</label>
            <input
              type="text"
              id="company4"
              class="form-control h-3 rounded-3"
              formControlName="Company4"
              placeholder="Company4"
            />
          </div>

          <div class="col-12 mt-4">
            <label for="bio" class="form-label required">Bio</label>
            <textarea
              id="bio"
              class="form-control rounded-3"
              formControlName="Bio"
              placeholder="Tell us about you in brief"
              rows="4"
            ></textarea>
          </div>

          <div class="col-12 mt-4">
            <label for="InstructorImg" class="form-label">Upload Image</label>
            <input
              type="file"
              id="InstructorImg"
              class="form-control h-3 rounded-3"
              (change)="uploadPhoto($event)"
              formControlName="InstructorImg"
            />
          </div>

          <div class="col-12 text-center mt-5">
            <button
              type="submit"
              class="nmc-btn-primary w-100 font-14 fw-semibold box-shadow-none py-2 h-auto"
              [disabled]="!instructorForm.valid"
            >
              Create Instructor
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
