<section class="create-quiz-section text-center py-5">
  <div class="container-boxed">
    <h2 class="section-title font-36 nmc-dark-grey font-family-poppins text-center mb-5">
      Quiz Settings
    </h2>
    
    <!-- Form for adding or updating a quiz -->
    <section id="new_quiz" *ngIf="formVisible">
      <div class="container-boxed pt-4 pb-5">
        <div class="card p-4 mb-4 mx-auto" style="max-width: 700px;">
          <h3 class="section-title font-36 nmc-dark-grey font-family-poppins text-center mb-4">
            {{ editMode ? "Edit" : "Add" }} Quiz
          </h3>
          
          <form [formGroup]="quizForm" (ngSubmit)="onSubmit()">
            <div class="form-group mt-3">
              <label for="question" class="form-label required">Question</label>
              <input
                type="text"
                id="question"
                class="form-control h-3 rounded-3"
                formControlName="question"
                placeholder="Enter question"
              />
              <div *ngIf="quizForm.get('question')?.touched && quizForm.get('question')?.invalid" class="text-danger">
                Please enter a question
              </div>
            </div>

            <div class="form-group mt-3">
              <label for="order" class="form-label required">Order</label>
              <input
                type="number"
                id="order"
                class="form-control h-3 rounded-3"
                formControlName="order"
                placeholder="Enter order"
              />
            </div>

            <div formArrayName="options" class="options-container mt-3">
              <div *ngFor="let option of options.controls; let i = index" [formGroupName]="i" class="option-group mb-2">
                <label for="option{{i}}" class="form-label">Option {{i + 1}}</label>
                <input
                  id="option{{i}}"
                  formControlName="value"
                  type="text"
                  class="form-control h-3 rounded-3"
                  placeholder="Enter option"
                />
                <button *ngIf="options.length > 1" type="button" (click)="removeOption(i)" class="btn btn-danger btn-sm mt-2">
                  Remove
                </button>
              </div>
            </div>
            <div *ngIf="options.controls.length < 2" class="text-danger">
              Please enter at least two options
            </div>

            <button type="button" (click)="addOption()" class="btn btn-light-orange mt-3">
              Add Option
            </button>

            <div class="form-group mt-3">
              <label for="answerId" class="form-label required">Correct Answer</label>
              <select
                id="answerId"
                class="form-control h-3 rounded-3"
                formControlName="answerId"
                [ngClass]="{'is-invalid': isOptionsInvalid}"
              >
                <option *ngFor="let option of options.controls" [value]="option.get('id')?.value">
                  {{ option.get('value')?.value }}
                </option>
              </select>
            </div>
            <div *ngIf="!quizForm.get('answerId')?.value && isOptionsInvalid" class="text-danger">
              Please choose a correct answer
            </div>

            <div class="d-flex justify-content-end align-items-center mt-5">
              <button type="button" (click)="hideForm()" class="btn btn-secondary">Cancel</button>
              <button type="submit" class="btn btn-light-orange ms-2" [disabled]="!quizForm.valid">
                {{ editMode ? "Update" : "Add" }}
              </button>
            </div>
          </form>
        </div>
      </div>
    </section>

    <!-- Table displaying the list of quizzes -->
    <section id="quiz-list" *ngIf="!formVisible">
      <div class="d-flex justify-content-end mb-3" >
        <button class="nmc-btn-primary" (click)="showForm()" type="button">
          Add New Quiz
        </button>
      </div>
      <div class="container mt-5" style="max-width: 900px;">
        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <thead class="table-dark">
              <tr>
                <th>Order</th>
                <th>Question</th>
                <th>Options</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let quiz of quiz">
                <td>{{ quiz.order }}</td>
                <td>{{ quiz.question }}</td>
                <td>
                  <ul>
                    <li *ngFor="let option of quiz.options">{{ option.value }}</li>
                  </ul>
                </td>
                <td>
                  <div class="d-flex">
                    <button (click)="editQuiz(quiz)" class="btn btn-warning btn-sm me-2">Edit</button>
                    <button (click)="deleteQuiz(quiz.id)" class="btn btn-danger">Delete</button>

                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
  </div>
</section>
