<section class="pt-4 pb-5">
  <div class="container-boxed">
    <h2
      class="section-title font-36 nmc-dark-grey font-family-poppins text-center mb-4"
    >
      Manage Speakers
    </h2>

    <div class="d-flex justify-content-end mb-3">
      <button
        class="nmc-btn-primary nmc-bg-dark-grey"
        [routerLink]="['/event']"
        type="button"
      >
        Back
      </button>

      <button class="nmc-btn-primary ms-2" (click)="showForm()" type="button">
        Add New Speaker
      </button>
    </div>

    <!-- Speaker Form -->
    @if(formVisible){
    <div class="form-wrapper rounded-4 w-100">
      <form [formGroup]="speakerForm" (ngSubmit)="addOrUpdateSpeaker()">
        <div class="row form-group mt-3 p-4">
          <div class="col-6">
            <label for="name" class="form-label required">Name</label>
            <input
              id="name"
              type="text"
              class="form-control h-3 rounded-3"
              formControlName="Name"
              placeholder="Enter Name"
            />
            <div
              *ngIf="
                speakerForm.get('Name')?.invalid &&
                speakerForm.get('Name')?.touched
              "
              class="error"
            >
              Name is required.
            </div>
          </div>

          <div class="col-6">
            <label for="image" class="form-label required">Image URL</label>
            <input
              id="image"
              type="text"
              class="form-control h-3 rounded-3"
              formControlName="Image"
              placeholder="Enter Image URL"
            />
            <div
              *ngIf="
                speakerForm.get('Image')?.invalid &&
                speakerForm.get('Image')?.touched
              "
              class="error"
            >
              Image URL is required.
            </div>
          </div>

          <div class="col-6 mt-3">
            <label for="position" class="form-label required">Position</label>
            <input
              id="position"
              type="text"
              class="form-control h-3 rounded-3"
              formControlName="Position"
              placeholder="Enter Position"
            />
            <div
              *ngIf="
                speakerForm.get('Position')?.invalid &&
                speakerForm.get('Position')?.touched
              "
              class="error"
            >
              Position is required.
            </div>
          </div>

          <div class="col-6 mt-3">
            <label for="info" class="form-label required">Info</label>
            <input
              id="info"
              type="text"
              class="form-control h-3 rounded-3"
              formControlName="Info"
              placeholder="Enter Info"
            />
            <div
              *ngIf="
                speakerForm.get('Info')?.invalid &&
                speakerForm.get('Info')?.touched
              "
              class="error"
            >
              Info is required.
            </div>
          </div>

          <div class="col-4 mt-3">
            <label for="github" class="form-label">Github</label>
            <input
              id="github"
              type="text"
              class="form-control h-3 rounded-3"
              formControlName="Github"
              placeholder="Enter Github URL"
            />
          </div>

          <div class="col-4 mt-3">
            <label for="linkedin" class="form-label required">LinkedIn</label>
            <input
              id="linkedin"
              type="url"
              class="form-control h-3 rounded-3"
              formControlName="LinkedIn"
              placeholder="Enter LinkedIn URL"
            />
          </div>

          <div
            *ngIf="
              speakerForm.get('LinkedIn')?.invalid &&
              speakerForm.get('LinkedIn')?.touched
            "
          >
            <small *ngIf="speakerForm.get('LinkedIn')?.errors?.['required']"
              >LinkedIn URL is required.</small
            >
            <small *ngIf="speakerForm.get('LinkedIn')?.errors?.['pattern']"
              >Invalid LinkedIn URL format.</small
            >
          </div>

          <div class="col-4 mt-3">
            <label for="x" class="form-label">X (Twitter)</label>
            <input
              id="x"
              type="text"
              class="form-control h-3 rounded-3"
              formControlName="X"
              placeholder="Enter Twitter URL"
            />
          </div>
        </div>

        <div class="d-flex justify-content-end p-4">
          <button
            type="button"
            class="nmc-btn-primary font-14 fw-semibold box-shadow-none py-2 h-auto nmc-bg-medium-grey"
            (click)="hideForm()"
          >
            Cancel
          </button>

          <button
            class="nmc-btn-primary font-14 fw-semibold box-shadow-none py-2 h-auto ms-3"
            type="submit"
          >
            {{ isEditMode ? "Update Speaker" : "Add Speaker" }}
          </button>
        </div>
      </form>
    </div>
    }

    <!-- Display Speakers Table -->
    @if(!formVisible){
    <div class="mt-3">
      <table class="table table-bordered table-striped">
        <thead class="table-dark">
          <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          @for(speaker of speakers; track speaker; let i = $index;){
          <tr>
            <td>{{ speaker.Name }}</td>
            <td>{{ speaker.Position }}</td>
            <td class="actions">
              <button
                type="button"
                class="btn btn-custom-edit btn-sm nmc-bg-primary nmc-white ms-3"
                (click)="editSpeaker(speaker)"
              >
                Edit
              </button>

              <button
                type="button"
                class="btn btn-danger btn-sm ms-3"
                (click)="deleteSpeaker(speaker.id)"
              >
                Delete
              </button>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
    }
  </div>
</section>
