<section class="pt-4 pb-5">
    <div class="container-boxed">
      <h2
        class="section-title font-36 nmc-dark-grey font-family-poppins text-center mb-4"
      >
        Create Event
      </h2>
  
      <div class="form-wrapper rounded-4 p-4 w-100">
        <form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
          <div class="row form-group mt-3">
            <div class="col-6">
              <input
                type="text"
                class="col-6 form-control h-3 rounded-3"
                formControlName="Id"
                placeholder="ID"
              />
            </div>
  
            <div class="col-6">
              <input
                type="text"
                class="form-control h-3 rounded-3"
                formControlName="Title"
                placeholder="Title"
              />
            </div>
  
            <div class="col-6 mt-4">
              <input
                type="text"
                class="form-control h-3 rounded-3"
                formControlName="City"
                placeholder="City"
              />
            </div>
  
            <div class="col-6 mt-4">
              <input
                type="text"
                class="form-control h-3 rounded-3"
                formControlName="Address"
                placeholder="Address"
              />
            </div>
  
            <div class="col-6 mt-4">
              <input
                type="text"
                class="form-control h-3 rounded-3"
                formControlName="Tech"
                placeholder="Tech"
              />
            </div>
  
            <div class="col-6 mt-4">
              <input
                type="text"
                class="form-control h-3 rounded-3"
                formControlName="Logo"
                placeholder="Logo"
              />
            </div>
  
            <div class="col-6 mt-4">
              <input
                formControlName="Date"
                placeholder="Date"
                type="date"
                class="form-control h-3 rounded-3"
              />
            </div>
  
            <div class="col-6 mt-4">
              <textarea
                type="text"
                class="form-control h-3 rounded-3"
                formControlName="ShortDescription"
                placeholder="ShortDescription"
              ></textarea>
            </div>
  
            <div class="col-12 mt-4">
              <textarea
                type="text"
                class="form-control h-3 rounded-3"
                formControlName="Description"
                placeholder="Description"
              ></textarea>
            </div>
  
            <div class="col-2 mt-4 ">
              <input type="checkbox" formControlName="isOffline" />
              Is Offline?
            </div>
  
            <div class="col-2 mt-4 ">
              <input type="checkbox" formControlName="isPaid" />
              Is Paid?
            </div>
  
            <div class="col-3 mt-4 ">
              <input type="checkbox" formControlName="isCertificateProvided" />
              Is Certificate Provided?
            </div>
  
            <button
              type="submit"
              class="nmc-btn-primary w-50 font-14 fw-semibold box-shadow-none mt-5 mb-2 m-auto py-2 h-auto"
              [disabled]="!eventForm.valid"
            >
              Create Event
            </button>
          </div>
        </form>
      </div>
    </div>
  </section>